# Grouping Data and Aggregating Variables

### Question 1 ) import libraries and dataframe

In [2]:
# importing libraries
import pandas as pd
import numpy as np
import os

In [ ]:
# importing "New_orders_products_merged.pkl"
path = r'/Users/monajafizada/Documents/DataAnalytics/Project'
df_orders_products_merged = pd.read_pickle(os.path.join(path, '02 Data', 'PreparedData','New_orders_products_merged.pkl'))

In [5]:
# creating a subset called df of the first one million entries.
df = df_orders_products_merged [:1000000]

In [6]:
df_orders_products_merged.columns

Index(['order_id', 'user_id', 'eval_set', 'order_number', 'order_dow',
       'order_hour_of_day', 'days_since_prior_order', 'product_id',
       'add_to_cart_order', 'reordered', '_merge', 'product_name', 'aisle_id',
       'department_id', 'prices', 'price_range_loc', 'busiest day',
       'busiest days', 'slowest days', 'Most orders', 'Averege orders',
       'Fewest orders'],
      dtype='object')

In [7]:
df.shape

(1000000, 22)

In [8]:
df.head(10)

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,...,aisle_id,department_id,prices,price_range_loc,busiest day,busiest days,slowest days,Most orders,Averege orders,Fewest orders
0,2539329,1,prior,1,2,8,NaN,196,1,0,...,77,7,9.0,low range product,Regularly busy,Regularly busy,Averege orders,Averege orders,Averege orders,Averege orders
1,2398795,1,prior,2,3,7,15.0,196,1,1,...,77,7,9.0,low range product,Regularly busy,Regularly busy,Averege orders,Averege orders,Averege orders,Averege orders
2,473747,1,prior,3,3,12,21.0,196,1,1,...,77,7,9.0,low range product,Regularly busy,Regularly busy,Averege orders,Averege orders,Averege orders,Averege orders
3,2254736,1,prior,4,4,7,29.0,196,1,1,...,77,7,9.0,low range product,least busy,slowest days,Averege orders,Averege orders,Averege orders,Averege orders
4,431534,1,prior,5,4,15,28.0,196,1,1,...,77,7,9.0,low range product,least busy,slowest days,Averege orders,Averege orders,Averege orders,Averege orders
5,3367565,1,prior,6,2,7,19.0,196,1,1,...,77,7,9.0,low range product,Regularly busy,Regularly busy,Averege orders,Averege orders,Averege orders,Averege orders
6,550135,1,prior,7,1,9,20.0,196,1,1,...,77,7,9.0,low range product,Regularly busy,Regularly busy,Averege orders,Averege orders,Averege orders,Averege orders
7,3108588,1,prior,8,1,14,14.0,196,2,1,...,77,7,9.0,low range product,Regularly busy,Regularly busy,Averege orders,Averege orders,Averege orders,Averege orders
8,2295261,1,prior,9,1,16,0.0,196,4,1,...,77,7,9.0,low range product,Regularly busy,Regularly busy,Averege orders,Averege orders,Averege orders,Averege orders
9,2550362,1,prior,10,4,8,30.0,196,1,1,...,77,7,9.0,low range product,least busy,slowest days,Averege orders,Averege orders,Averege orders,Averege orders

### Question 2 ) aggregatoion for the entire dataframe

In [9]:
#Performing a single Aggregation - 
#spliting the data into groups based  on department_id 
# applying the agg() function to each group to obtain the mean values of "order_number" 
df.groupby('department_id').agg({'order_number':['mean']})

              order_number
                      mean
department_id
4                18.825780
7                17.472355
13               17.993423
14               19.246334
16               19.463012
17               11.294069
19               19.305237
20               17.599636

In [10]:
# performing multiple aggregations
df.groupby('department_id').agg({'order_number': ['mean','min','max']})

              order_number
                      mean min max
department_id
4                18.825780   1  99
7                17.472355   1  99
13               17.993423   1  99
14               19.246334   1  99
16               19.463012   1  99
17               11.294069   1  98
19               19.305237   1  99
20               17.599636   1  99

In [11]:
df.head(100)

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,...,aisle_id,department_id,prices,price_range_loc,busiest day,busiest days,slowest days,Most orders,Averege orders,Fewest orders
0,2539329,1,prior,1,2,8,NaN,196,1,0,...,77,7,9.0,low range product,Regularly busy,Regularly busy,Averege orders,Averege orders,Averege orders,Averege orders
1,2398795,1,prior,2,3,7,15.0,196,1,1,...,77,7,9.0,low range product,Regularly busy,Regularly busy,Averege orders,Averege orders,Averege orders,Averege orders
2,473747,1,prior,3,3,12,21.0,196,1,1,...,77,7,9.0,low range product,Regularly busy,Regularly busy,Averege orders,Averege orders,Averege orders,Averege orders
3,2254736,1,prior,4,4,7,29.0,196,1,1,...,77,7,9.0,low range product,least busy,slowest days,Averege orders,Averege orders,Averege orders,Averege orders
4,431534,1,prior,5,4,15,28.0,196,1,1,...,77,7,9.0,low range product,least busy,slowest days,Averege orders,Averege orders,Averege orders,Averege orders
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,3226575,360,prior,1,5,12,NaN,196,1,0,...,77,7,9.0,low range product,Regularly busy,Regularly busy,Averege orders,Averege orders,Averege orders,Averege orders
96,1469869,377,prior,3,5,17,3.0,196,9,0,...,77,7,9.0,low range product,Regularly busy,Regularly busy,Averege orders,Averege orders,Averege orders,Averege orders
97,1927023,387,prior,2,4,10,22.0,196,3,0,...,77,7,9.0,low range product,least busy,slowest days,Most orders,Most orders,Most orders,Most orders
98,858092,420,prior,4,1,19,30.0,196,2,0,...,77,7,9.0,low range product,Regularly busy,Regularly busy,Averege orders,Averege orders,Averege orders,Averege orders
99,119314,420,prior,5,3,19,16.0,196,2,1,...,77,7,9.0,low range product,Regularly busy,Regularly busy,Averege orders,Averege orders,Averege orders,Averege orders

In [12]:
# trying the aggregation with the entire dataframe 
# performing multiple aggregations
df_orders_products_merged.groupby('department_id').agg({'order_number': ['mean','min','max']})

              order_number
                      mean min max
department_id
1                15.457687   1  99
2                17.277920   1  99
3                17.179756   1  99
4                17.811403   1  99
5                15.213779   1  99
6                16.439806   1  99
7                17.225773   1  99
8                15.340520   1  99
9                15.895474   1  99
10               20.197148   1  99
11               16.170828   1  99
12               15.887622   1  99
13               16.583304   1  99
14               16.757377   1  99
15               16.165037   1  99
16               17.663250   1  99
17               15.694469   1  99
18               19.310397   1  99
19               17.177343   1  99
20               16.473447   1  99
21               22.902379   1  99

### Question 3 ) Analyze the result

In [ ]:
#the min and max seems to be the same for both subset and all the dataframe
# but the mean is different. the mean for the subset looks bigger than  all the dataframe's means. 
# for example:  mean for department_id 4 = 18.825780 ( from subset data)
# mean for department_id 4 = 17.811403 (from entire dataframe)

### Question 4 ) Create loyalty flag using transfomr and loc

In [13]:
# Creating loyalty flag
# spliting data into groups based on the "user_id"
# apply the transform function on the "order_number" to find max order
# create new column "max_order" into which you place the result of aggregation
df_orders_products_merged['max_order'] = df_orders_products_merged.groupby(['user_id'])['order_number'].transform(np.max)

In [14]:
df_orders_products_merged.head(100)

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,...,department_id,prices,price_range_loc,busiest day,busiest days,slowest days,Most orders,Averege orders,Fewest orders,max_order
0,2539329,1,prior,1,2,8,NaN,196,1,0,...,7,9.0,low range product,Regularly busy,Regularly busy,Averege orders,Averege orders,Averege orders,Averege orders,10
1,2398795,1,prior,2,3,7,15.0,196,1,1,...,7,9.0,low range product,Regularly busy,Regularly busy,Averege orders,Averege orders,Averege orders,Averege orders,10
2,473747,1,prior,3,3,12,21.0,196,1,1,...,7,9.0,low range product,Regularly busy,Regularly busy,Averege orders,Averege orders,Averege orders,Averege orders,10
3,2254736,1,prior,4,4,7,29.0,196,1,1,...,7,9.0,low range product,least busy,slowest days,Averege orders,Averege orders,Averege orders,Averege orders,10
4,431534,1,prior,5,4,15,28.0,196,1,1,...,7,9.0,low range product,least busy,slowest days,Averege orders,Averege orders,Averege orders,Averege orders,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,3226575,360,prior,1,5,12,NaN,196,1,0,...,7,9.0,low range product,Regularly busy,Regularly busy,Averege orders,Averege orders,Averege orders,Averege orders,3
96,1469869,377,prior,3,5,17,3.0,196,9,0,...,7,9.0,low range product,Regularly busy,Regularly busy,Averege orders,Averege orders,Averege orders,Averege orders,3
97,1927023,387,prior,2,4,10,22.0,196,3,0,...,7,9.0,low range product,least busy,slowest days,Most orders,Most orders,Most orders,Most orders,8
98,858092,420,prior,4,1,19,30.0,196,2,0,...,7,9.0,low range product,Regularly busy,Regularly busy,Averege orders,Averege orders,Averege orders,Averege orders,22
99,119314,420,prior,5,3,19,16.0,196,2,1,...,7,9.0,low range product,Regularly busy,Regularly busy,Averege orders,Averege orders,Averege orders,Averege orders,22

In [15]:
# set the flag using loc
# max orders over 40 = loyal customer
df_orders_products_merged.loc[df_orders_products_merged['max_order']>40,'loyalty_flag']='loyal customer'

In [16]:
# max order over 10 but less or equal 40 =regular customer
df_orders_products_merged.loc[(df_orders_products_merged['max_order']<=40)& (df_orders_products_merged['max_order']>10),'loyalty_flag']='Regular customer'

In [17]:
# max order less than or equal to 10 = new customer 
df_orders_products_merged.loc[df_orders_products_merged['max_order']<= 10,'loyalty_flag'] = 'New customer'

In [18]:
# printing the frequency of loyalty flag 
df_orders_products_merged['loyalty_flag'].value_counts(dropna = False)

Regular customer    15891077
loyal customer      10293737
New customer         6249398
Name: loyalty_flag, dtype: int64

### Question 5 ) the difference between the spending habits of the 3 customers

In [19]:
# checking the basic statistics 
df_orders_products_merged[['user_id','loyalty_flag','order_number']].head(1000)

     user_id      loyalty_flag  order_number
0          1      New customer             1
1          1      New customer             2
2          1      New customer             3
3          1      New customer             4
4          1      New customer             5
..       ...               ...           ...
995     5511      New customer             1
996     5511      New customer             2
997     5537  Regular customer             7
998     5547    loyal customer             7
999     5547    loyal customer            20

[1000 rows x 3 columns]

In [20]:
df_orders_products_merged['loyalty_flag'].value_counts(dropna = False).describe()

count    3.000000e+00
mean     1.081140e+07
std      4.841640e+06
min      6.249398e+06
25%      8.271568e+06
50%      1.029374e+07
75%      1.309241e+07
max      1.589108e+07
Name: loyalty_flag, dtype: float64

### Question 6 ) finding the different types of spenders

In [21]:
# looking at the price of item 
# createing a spending flag

In [22]:
# looking at the price column values
df_orders_products_merged.head(1000000)

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,...,prices,price_range_loc,busiest day,busiest days,slowest days,Most orders,Averege orders,Fewest orders,max_order,loyalty_flag
0,2539329,1,prior,1,2,8,NaN,196,1,0,...,9.0,low range product,Regularly busy,Regularly busy,Averege orders,Averege orders,Averege orders,Averege orders,10,New customer
1,2398795,1,prior,2,3,7,15.0,196,1,1,...,9.0,low range product,Regularly busy,Regularly busy,Averege orders,Averege orders,Averege orders,Averege orders,10,New customer
2,473747,1,prior,3,3,12,21.0,196,1,1,...,9.0,low range product,Regularly busy,Regularly busy,Averege orders,Averege orders,Averege orders,Averege orders,10,New customer
3,2254736,1,prior,4,4,7,29.0,196,1,1,...,9.0,low range product,least busy,slowest days,Averege orders,Averege orders,Averege orders,Averege orders,10,New customer
4,431534,1,prior,5,4,15,28.0,196,1,1,...,9.0,low range product,least busy,slowest days,Averege orders,Averege orders,Averege orders,Averege orders,10,New customer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,2836489,164627,prior,14,0,15,6.0,30489,2,0,...,7.5,low range product,Busiest day,Busiest days,Averege orders,Averege orders,Averege orders,Averege orders,23,Regular customer
999996,1843600,164632,prior,5,1,19,9.0,30489,2,0,...,7.5,low range product,Regularly busy,Regularly busy,Averege orders,Averege orders,Averege orders,Averege orders,33,Regular customer
999997,733106,164632,prior,9,2,22,10.0,30489,3,1,...,7.5,low range product,Regularly busy,Regularly busy,Averege orders,Averege orders,Averege orders,Averege orders,33,Regular customer
999998,1650124,164632,prior,17,6,17,13.0,30489,1,1,...,7.5,low range product,Regularly busy,Regularly busy,Averege orders,Averege orders,Averege orders,Averege orders,33,Regular customer
999999,3378258,164632,prior,22,6,10,15.0,30489,3,1,...,7.5,low range product,Regularly busy,Regularly busy,Most orders,Most orders,Most orders,Most orders,33,Regular customer

In [23]:
# aggregating Data
df_orders_products_merged['average_prices'] = df_orders_products_merged.groupby(['user_id'])['prices'].transform(np.mean)

In [24]:
# max order less than or equal to 10 = new customer 
df_orders_products_merged.loc[df_orders_products_merged['average_prices']<10,'spending_flag']='low spender'

In [25]:
# max order less than or equal to 10 = new customer 
df_orders_products_merged.loc[df_orders_products_merged['average_prices']>=10,'spending_flag']='high spender'

In [26]:
# printing the frequency of spending_flag
df_orders_products_merged['spending_flag'].value_counts(dropna = False)

low spender     31798879
high spender      635333
Name: spending_flag, dtype: int64

### Question 7 ) Determine frequent versus non-frequent customers and regular customer

In [27]:
# aggregating Data
df_orders_products_merged['ordering behavior'] = df_orders_products_merged.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [28]:
# max order less than or equal to 10 = new customer 
df_orders_products_merged.loc[df_orders_products_merged['ordering behavior']>20,'order_frequency_flag']='Non-frequent customer'

In [29]:
# max order over 10 but less or equal 40 =regular customer
df_orders_products_merged.loc[(df_orders_products_merged['ordering behavior']>10)& (df_orders_products_merged['max_order']<=20),'order_frequency_flag']='Regular customer'

In [30]:
# max order less than or equal to 10 = new customer 
df_orders_products_merged.loc[df_orders_products_merged['ordering behavior']<=10,'order_frequency_flag']='Frequent customer'

In [31]:
# printing the frequency of spending_flag
df_orders_products_merged['order_frequency_flag'].value_counts(dropna = False)

Frequent customer        21577409
Regular customer          8835807
NaN                       2015991
Non-frequent customer        5005
Name: order_frequency_flag, dtype: int64

### Question 8 ) the notebook is well commented

In [32]:
df_orders_products_merged.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,...,slowest days,Most orders,Averege orders,Fewest orders,max_order,loyalty_flag,average_prices,spending_flag,ordering behavior,order_frequency_flag
0,2539329,1,prior,1,2,8,NaN,196,1,0,...,Averege orders,Averege orders,Averege orders,Averege orders,10,New customer,6.367797,low spender,20.5,Regular customer
1,2398795,1,prior,2,3,7,15.0,196,1,1,...,Averege orders,Averege orders,Averege orders,Averege orders,10,New customer,6.367797,low spender,20.5,Regular customer
2,473747,1,prior,3,3,12,21.0,196,1,1,...,Averege orders,Averege orders,Averege orders,Averege orders,10,New customer,6.367797,low spender,20.5,Regular customer
3,2254736,1,prior,4,4,7,29.0,196,1,1,...,Averege orders,Averege orders,Averege orders,Averege orders,10,New customer,6.367797,low spender,20.5,Regular customer
4,431534,1,prior,5,4,15,28.0,196,1,1,...,Averege orders,Averege orders,Averege orders,Averege orders,10,New customer,6.367797,low spender,20.5,Regular customer

In [35]:
df_orders_products_merged.shape

(32434212, 28)

### Question 9 ) Export teh dataframe as pickle file in prepared Data

In [33]:
# exporting " df_merged_prods_ords" as "orders_products_merged" as pkl
df_orders_products_merged.to_pickle(os.path.join(path,'02 Data', 'PreparedData','agg_orders_products_merged.pkl'))